<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpm.Tcl">

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mondelez_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.cpm.Tcl.dailyEntry.TDPSaleTargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.cpm.Tcl.dailyEntry.SkuWiseSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.MonthlyTargetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.PerformanceReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.TesterStockActivity"
            android:label="@string/title_activity_share_of_shelf"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.CheckOutConfirmationActivity"
            android:label="@string/download_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.SelfieActivity"
            android:label="@string/title_activity_selfie"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.PerformanceWebview"
            android:label="@string/title_activity_performance_webview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.SamplingActivity"
            android:label="@string/title_activity_sampling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.LivonActivity"
            android:label="@string/title_activity_livon"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.NewPerformance"
            android:label="@string/title_activity_new_performance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.AttendanceActivity"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.DetailerActivity"
            android:label="@string/title_activity_detailer"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.TrainingActivity"
            android:label="@string/title_activity_training"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.PerformanceActivity"
            android:label="@string/title_activity_performance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.Additonalvisibility"
            android:label="@string/title_activity_additonalvisibility"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.ShareOfShelfActivity"
            android:label="@string/title_activity_share_of_shelf"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.oneQad.OneQADActivity"
            android:label="@string/title_activity_one_qad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.AutoLoginActivity"
            android:label="@string/title_activity_auto_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.password.MPinActivity"
            android:label="@string/title_activity_mpin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.password.ChangePasswordActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.SOSActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_sos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.FeedBackActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.CTUActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_ctu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.SecondaryVisibilityActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_secondary_visibility"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.WindowBrandVisibilityActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_window_brand_visibility"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.WindowWithBrandActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_window_with_brand"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAIPnRocVJOWDTGWaQgVaSMU7FLRcbMHxk" /> <!-- android:value="AIzaSyCV9SELy-EXFg9pcKtCLqzp-DAo-aRsjj0" /> -->
        <!-- android:value="AIzaSyA-MIPQ2JhVqtewf3nx2MJHwIdniVzuoaI" /> -->
        <activity
            android:name="com.cpm.Tcl.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cpm.Tcl.LoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.autoupdate.AutoUpdateActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.StoreListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.StoreimageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera.Camera1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.WindowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.download.DownloadActivity"
            android:label="@string/download_data"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.EntryMenuActivity"
            android:label="@string/download_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cpm.Tcl.upload.Retrofit_method.upload.PreviousDataUploadActivity" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.ServiceActivity"
            android:label="@string/backup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.NonWorkingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_non_working"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.CategoryDressingActivity"
            android:label="@string/title_activity_category_dressing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.geotag.GeoTagStoreList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/blank"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.geotag.GeoTaggingActivity"
            android:label="@string/title_activity_geo_tagging"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.upload.Retrofit_method.upload.UploadWithoutWaitActivity"
            android:label="@string/title_activity_geo_tagging"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.DBSRCategoryActivity"
            android:label="@string/title_activity_dbsrcategory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.WindowMenuActivity"
            android:label="@string/title_activity_window_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.WindowChecklistActivity"
            android:label="@string/title_activity_window_checklist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.utilities.CamTestActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.StoreProfileActivity"
            android:label="@string/title_activity_store_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.VisiCoolerActivity"
            android:label="@string/title_activity_visi_cooler"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.POSMDeploymentActivity"
            android:label="@string/title_activity_posmdeployment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.FocusProductActivity"
            android:label="@string/title_activity_focus_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.NewVisiCoolerActivty"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_new_visi_cooler_activty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.MonkeysunActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_monkeysun"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.BackOfStoreActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_back_of_store"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.JarActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_jar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.ClosingStock"
            android:label="@string/title_activity_closing_stock"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.MidDayStock"
            android:label="@string/title_activity_mid_day_stock"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.OpeningStock"
            android:label="@string/title_activity_opening_stock"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.PromotionActivity"
            android:label="@string/title_activity_opening_stock"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cpm.Tcl.dailyEntry.PaidVisibilityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>